:root { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body {
  margin: 0;
  /* font-family: 'Inter'; */
  font-size: 0.9rem;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
