/*! header */
.app-logo { 
  background-size: cover;
  background-image: url("../../public/asserts//header-images/logo.png");
  width: 6rem;
  height: 1.5rem;
  margin: 0 auto;
  display: block;
  margin-left: 4rem;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0.72rem;
  background-color: #70259B;
}

.nav-links {
  list-style: none;
  padding-left: 20rem;
  display: flex;
  justify-content: center; 
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li{
  color: white;
}

li a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}

.primary-btn{
  background-color: white;
  color: purple;
  margin-right: 6rem;
  border: 1px solid white;
  border-radius: 5rem;
  padding: 0.45rem 1rem; 
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.hero-container{
  color: white;
  padding: 14rem 14rem 10rem 5rem;
  background-size: cover;
  background-image: url("../../public/asserts//header-images/confidence.jpeg");
  background-position: 10%;
}

.cta-btn{
  color: white;
  background-color: #70259B;
  margin-top: 6rem;
  border: 1px solid black;
  padding: 0.75rem 1.3rem;
  border-radius: 5rem;
}

.navigation-container{
  margin-bottom: 5rem;
}

/*! what we do */
.what-we-do-container{
  padding-left: 5rem;
}

/* main.css */

.what-we-do-container {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
}

.what-we-do-header {
  text-align: center;
}

.section-header h2 {
  font-size: 24px;
  color: #333;
}

.what-we-do-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.what-we-do-item {
  flex: 1;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.what-we-do-item-logo {
  width: 50px;
  height: 50px;
  background-color: #0074d9; /* Example color for the logo background */
  border-radius: 50%;
  margin: 0 auto 10px;
}

h3 {
  font-size: 18px;
  color: #0074d9; /* Example color for the title */
}

p {
  font-size: 14px;
  color: #555;
}








/*! case studies */
.slider-item {
  position: relative;
  width: 40%;
  text-align: center;
}

.slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #fff;
  max-width: 80%;
}

.title {
  font-size: 24px;
  margin: 0;
}

.description {
  font-size: 16px;
  margin: 0;
}

.section-topic{
  text-align: center;
  margin-bottom: 5rem;
}

.image {
  max-width: 40%;
  max-height: 90%;
  display: block;
  margin: 0 auto;
}
